.kanglish {
    margin: 10px;
}

.fav-translations,
.fav-translations th,
.fav-translations tr,
.fav-translations td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
}

.fav-translations {
    width: fit-content;
    margin-bottom: 10px;
}

.translator {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: fit-content;
}

.translator h2 {
    margin: 0;
}